$mobile-l: 424px;
$tablet: 767px;
$laptop: 1023px;
$laptop-l: 1439px;
$four-k: 2559px;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin full-box {
  width: 100%;
  height: 100%;
}
